# API Configuration

BASE_URL=
API_KEY=
ANAM_CLUSTER=
ANAM_POD=
AVATAR_MODEL=cara-4


# Avatar Configuration
AVATAR_ID=

# Agora Settings
AGORA_APP_ID=
AGORA_TOKEN=
AGORA_CHANNEL=
AGORA_UID=



# Video Settings
VIDEO_QUALITY=high
VIDEO_ENCODING=H264
ENABLE_STRING_UIDS=true
ACTIVITY_IDLE_TIMEOUT=120
