# API Configuration
BASE_URL=
API_KEY=
AVATAR_MODEL="cara-4"


# Avatar Configuration
AVATAR_ID=

# Agora Settings
AGORA_APP_ID=
AGORA_TOKEN=
AGORA_CHANNEL=
AGORA_UID=



# Video Settings
VIDEO_QUALITY=high
VIDEO_ENCODING=H264
ENABLE_STRING_UIDS=true
ACTIVITY_IDLE_TIMEOUT=120

# Optional explicit output frame size in pixels. Both must be set together.
# Resolution depends on the avatar model. Supported resolutions: 
# * 720x480 (avatar model cara-3) 
# * 1152x768 (landscape cara-4 or higher) 
# * 768x1152 (portrait cara-4 or higher). 
# VIDEO_WIDTH=768
# VIDEO_HEIGHT=1152
